{
  "baseUrl": "http://localhost:3001/api",
  "accounts": {
    "admin": {
      "email": "admin@restaurant.com",
      "password": "password"
    },
    "b1": {
      "email": "b1@restaurant.com",
      "password": "password",
      "store_id": 1
    },
    "b2": {
      "email": "b2@restaurant.com",
      "password": "password",
      "store_id": 2
    },
    "b3": {
      "email": "b3@restaurant.com",
      "password": "password",
      "store_id": 3
    }
  },
  "storeIds": {
    "b1": 1,
    "b2": 2,
    "b3": 3
  },
  "itemIds": {
    "item1": 1,
    "item2": 2,
    "item3": 3
  }
}